/* App.css */
.App {
    text-align: center;
  }
  h1{
    max-width: 100%;
    font-size: 44px;
  }
  
  /* UmbrellaCustomizer.css */
  .customizer {
    /* display: flex;
    flex-direction:row; */
    align-items: center;
    display: grid;
    grid-template-columns: 46% 46%; /* Two equal columns */
    grid-gap: 50px; 
    min-height: 500px;
  }

  .customization-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;  
    width: 100%;
  }
  
  .umbrella-container {
    position: relative;
    width: 100%;
    justify-content: center;    
    display: flex;
    max-width: 550px;
  }
  .umbrella{
    display: flex;
    width: 100%;
    max-width: 550px;
  }
  .color-swatches {
    display: flex;
    justify-content: start;
    text-align: start;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 100%;
    width: auto;
  }
  
  .swatch {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s ease-in-out;
  }
  
 
  .pink{
    background-color: #D9328B;
  }
  .yellow{
    background-color: #FED143;
  }
  
  .blue {
    background-color: #2FB4E5;
  }


  .swatch.selected {
    border-color: #ffffff; /* Adjust the color as needed */
  }
  
  .swatch:hover {
    transform: scale(1.1);
  }
  
  .logo-preview {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
  }
 
  
  .verticalalign{
    vertical-align: middle; /* Align text vertically with the SVG */
  }
  
  .upload-container {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 350px;
  }
  
  .upload-input {
    display: none;
  }
  
  .upload-button {
    display: flex;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    justify-content: space-between;
    
  }
  
  .upload-button:hover {
    background-color: #2980b9;
  }

  .spinner-path {
    animation: spin 2s linear infinite; /* Animation definition */
  }
  @keyframes spin {
   
      0% {
        transform: rotate(0deg); /* Starting position, no rotation */
      }
      90% {
        transform: rotate(360deg); /* Quickly rotate to 360 degrees */
      }
      100% {
        transform: rotate(360deg); /* Hold the rotation at 360 degrees */
      }
      
    
  }
  .loading-spinner{
    width: 90px;
    height: 90px;
  }
  .uploadsvg{
    width: 20px;
    height: 20px;
  }
  .close-button
  {
    background-color: transparent;
    border: 0px;
    color:white
  }