/* App.css */
.App {
    text-align: center;
  }
  
  /* UmbrellaCustomizer.css */
  .customizer {
    /* display: flex;
    flex-direction:row; */
    align-items: center;
    display: grid;
    grid-template-columns: 50% 50%; /* Two equal columns */
    grid-gap: 10px; 
  }
  
  .umbrella-container {
    position: relative;
    width: 100%;
    justify-content: center;
    display: flex;
  }
  .umbrella{
    display: flex;
    width: 100%;
    max-width: 550px;
  }
  .color-swatches {
    display: flex;
    justify-content: start;
    text-align: start;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 100%;
  }
  
  .swatch {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s ease-in-out;
  }
  
 
  .pink{
    background-color: pink;
  }
  .yellow{
    background-color: yellow;
  }
  
  .blue {
    background-color: blue;
  }


  .swatch.selected {
    border-color: #ffffff; /* Adjust the color as needed */
  }
  
  .swatch:hover {
    transform: scale(1.1);
  }
  
  .logo-preview {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
  }
 
  
  .verticalalign{
    vertical-align: middle; /* Align text vertically with the SVG */
  }
  
  .upload-container {
    position: relative;
    display: flex;
    width: 100%;
  }
  
  .upload-input {
    display: none;
  }
  
  .upload-button {
    display: flex;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    justify-content: space-between;
    
  }
  
  .upload-button:hover {
    background-color: #2980b9;
  }
  